<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Cutiefy - Playlists</title>
</head>

<body>

    <!-- Nav Bar -->
    <%- include('./partials/nav') %>
    
    <!-- Main Content -->
    <div class="main">
        <div class="box">
            <%- include('./partials/banner', { title: 'Playlists' }) %>
            
            <form action="" method="post" id="playlist-form" class="playlist-form" style="display: none;">
                <input type="text" name="title" id="title" placeholder="Playlist Name">
                <button type="submit">Create</button>
            </form>

            <%- include('./partials/list', { items: playlists, api: '/playlists', url: '/playlists' }) %>
        </div>
    </div>

    <script src="/js/playlists.js"></script>
</body>

</html>